<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="content-language" content="gb2312" />
<title>Sofav</title>
<link type="text/css" rel="stylesheet" href="<{$css}>style.css" />
<script type="text/javascript" src="<{$js}>leakon.js"></script>
<script type="text/javascript" src="<{$js}>sajax.js"></script>
<script type="text/javascript" src="<{$js}>sofav.js"></script>
<script type="text/javascript">
var path_img	= "<{$images}>";	

<{$user_cate}>	<{*我的分类*}>
<{$user_tag}>	<{*我的标签*}>

var system_categories	= new Array( "System", "Categories", "你好", "web 2.0 Blog", "ruby", "web2.0", "video", "google", "IBM", "System", "Categories", "Blog", "ruby", "web2.0", "video", "google", "IBM", "System", "Categories", "Blog", "ruby", "web2.0", "video", "google", "IBM", "System", "Categories", "Blog", "ruby", "web2.0", "video", "google", "IBM", "System", "Categories", "Blog", "ruby", "web2.0", "video", "google", "IBM", "System", "Categories", "Blog", "ruby", "web2.0", "video", "google", "IBM" );
var system_tags		= new Array( "System", "Tags", "艺术", "web 2.0 javascript", "Ajax", "apache2", "networks", "Benz", "apache2", "networks", "apple", "Casio" );
</script>
</head>

<body>
<div id="main">
	<div id="head">
		<div id="logo">
		Sofav
		</div>
		
		<div id="desc">
		收藏 分享 So Favorite
		</div>
		
		<div id="login">
		leakon | <a href="#">退出登录</a>
		</div>
	</div>
	
	<div id="nav">
	<a href="<{$file_main}>"<{$nav_curr.index}>>首页</a> | <a href="<{$file_main}>?<{$f_task}>=search"<{$nav_curr.search}>>搜索</a> | <a href="<{$file_main}>?<{$f_task}>=myfav"<{$nav_curr.myfav}>>我的收藏</a> | <a href="<{$file_main}>?<{$f_task}>=add"<{$nav_curr.add}>>添加</a> | <a href="<{$file_main}>?<{$f_task}>=import"<{$nav_curr.import}>>导入</a> | <a href="<{$file_main}>?<{$f_task}>=export"<{$nav_curr.export}>>导出</a> | <a href="<{$file_main}>?<{$f_task}>=option&amp;name=a"<{$nav_curr.option}>>选项</a>
	</div>
	
<{if strlen( $main ) > 0}>
<{include file="$main"}>
<{/if}>	
	
</div>
</body>
</html>