body, td	{font-size:13px;}
html, body	{height:100%;}

body	{
	position:relative;
	min-height:100%;	/* For Modern Browsers */
	height:auto !important;	/* For Modern Browsers */
	height:100%;		/* For IE */
}

ul,li	{list-style-type:none;}

/* 导航 */
#topNav #logo		{padding:4px 8px; margin-right:10px;}
#topNav			{height:60px;}
#userOption		{float:right; padding:4px 2px 0;}
#userOption a		{margin:0 4px;}

#topNav #search		{position:absolute; left:130px; top:6px;}
#topNav #search	#type a	{margin-right:14px;}
#topNav #search	#kw	{width:320px; height:16px; padding:2px; font-size:14px; font-family:Verdana;}
#topNav #search	.button	{width:60px; height:26px; font-size:13px; padding:2px 2px 8px; font-family:Verdana; vertical-align:bottom; font-weight:normal;}

#mainNav	{clear:both; overflow:hidden; height:14px; padding:4px 20px; background-color:#007cff;}
#mainNav li	{float:left; margin:0 4px;}
#mainNav a	{color:white;}


/* 文章列表 */
#postRes	{clear:both;}
#postRes li	{list-style-type:none; margin:4px 4px 20px; padding:8px;}
#postRes li p	{word-wrap:break-word; word-break:break-all; overflow:hidden;}
#postRes li.evenRow	{background-color:#F5F5F5;}
#postRes li .title	{font-size:1.1em; margin-bottom:4px;}
#postRes li .url	{color:green; font-size:0.9em; margin-right:20px;}
#postRes li .author	{font-family:Tahoma; font-weight:bold; color:gray; font-size:0.9em; margin-left:10px;}
#postRes li p.tag a	{color:orange; font-size:0.9em; margin-right:4px; padding:2px;}
#postRes li p.tag	{margin:4px 0;}
#postRes li .time	{color:gray; font-size:0.9em;}

#postRes li a:link, #postRes li a:visited	{color:blue;}
#postRes li a:hover, #postRes li a:active	{color:red;}
#postRes li a:hover	{background-color:#F5F5F5;}

div.similarRes	{border:1px solid gray; width:600px; margin:10px 35px;}
#similarMsg	{margin:8px; font-weight:bold;}

img.icoLock	{width:16px; height:16px; vertical-align:bottom; cursor:help;}
.button		{padding:6px 8px; font-size:14px; font-weight:bold;}

/* 翻页导航 */
#pageNav	{margin:4px 0 20px;}
#pageNav a:link, #pageNav a:visited, #pageNav a:hover, #pageNav b
{
	font-family:Tahoma;
	font-size:13px;
	text-decoration:none;
	color:#666666;
	text-align:center;
	line-height:18px;
	width:22px;
	height:20px;
	float:left;
	display:block;
	margin:0 1px;
	border:1px solid #cccccc;
}
#pageNav  a:hover
{
	position:relative;
	color:white;
	font-weight:bold;
	line-height:26px;
	width:30px;
	height:28px;
	margin:-4px -3px;
	background-color:#999999;
}
#pageNav b	{background-color:#999999; color:white;}


/* 底部信息 */
#footContent
{
	position:absolute;
	bottom:0;
	font-size:12px;
	clear:both;
	width:100%;
	background:#F5F5F5;
	border-top:1px solid #FFF;
	overflow:hidden;
	height:44px;
	margin-top:18px;
}
#footContent #logo2		{float:left; padding:10px 20px;}
#footContent .version	{position:absolute;top:30px;left:4px; font:8px "Small fonts",Tahoma,sans-serif;	color:#CCC; cursor:default;}
#footContent .version:hover	{color:#333;}
#footContent .links		{padding:.5em; text-align:right; line-height:1.4; color:#989898;}
#footContent .links a	{color:#989898; text-transform:capitalize; margin:0 4px;}
#footContent .links a:hover	{color:#000;}
#footHeight	{height:60px;}

